<% for column in Activity.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @activity.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @activity %> |
<%= link_to 'Back', :action => 'list' %>
