ul#nav,ul#nav li{
	list-style-type:none;
	margin:0;
	padding:0;
	}
ul#nav{
	margin-left: 100px;
	width:650px;
	}
ul#nav li{
	float:left;
	margin-right: 3px;
	text-align: center;
	}
ul#nav a{
	float:left;
	width: 7em;
	padding: 5px 0;
	background: #625273;
	text-decoration:none;
	color: #FFF;
	}
ul#nav a:hover{
	background: #E7CE94;
	color: #333;
	}
ul#nav li.activelink a,ul#nav li.activelink a:hover{
	background: #FFF;
	color: #003;
	}
ul#nav2,ul#nav2 li{
	list-style-type:none;
	margin:0;
	padding:0;
	}
ul#nav2{
	margin-left: 100px;
	width:650px;
	}
ul#nav2 li{
	float:left;
	margin-right: 3px;
	text-align: center;
	}
ul#nav2 a{
	float:left;
	width: 7em;
	padding: 5px 0;
	background: #625273;
	text-decoration:none;
	color: #FFF;
	}
ul#nav2 a:hover{
	background: #E7CE94;
	color: #333;
	}
ul#nav2 li.activelink a,ul#nav2 li.activelink a:hover{
	background: #FFF;
	color: #003;
	}

ul#subnav,ul#subnav li {
	 list-style-type: none;
	 text-align: left;
	 padding: 0px;
	 margin: 5px;
	 white-space: nowrap;
	 }

ul#subnav li a {
	padding-left: -5px;
	text-align: left;
	text-decoration: none;
	color: #333;
}

ul#subnav a:hover {
	color: #999;
	text-decoration: none;
	background: transparent url(images/list-off.gif) left center no-repeat;
}

a.tRowLink:link, a.tRowLink:visited {
	font-size: 11px;
	color: #996600;
	text-decoration: none;
}
a.tRowLink:hover {
text-decoration: underline;
}